@charset "UTF-8";

body {
    background-color: #ee6565;
}
h1{
    color: #8f1212;
  

}
h1#mugi{
    text-align: center;
    background-color: #df3a3a;
}
h2{
    color: #8f1212;

}
p {
    color: #8f1212;
    text-align: justify;

}
.chefes{
    color: white;
    background-color: black;
    text-align: center;
}
.comandante1{
    background-color: white;
}
.comandante2{
    background-color: yellow;
}